.landing{
  background-image: url('https://cdn.pixabay.com/photo/2016/07/11/06/00/sunset-1509132_1280.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
}

.name{
  text-align: center;
  vertical-align: center;
}
.sam{
  text-align: center;
  vertical-align: center;
}
