.landing{
  background-image: url("../images/seattle.jpg");
  height: 100vh;
  opacity: .8;



}

.name{
  color: black;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
  height: 80%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

}
.sam{
  color: black;
  font-size: 30px;
  font-family: 'Yantramanav', sans-serif;
  height: 90%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.fom{
  display: flex;
  align-items: center;
  justify-content: center;

 }
